* {
  box-sizing: content-box;
}

.container-fundo {
  background-color: #f2efe5;
  width: 490px;
  margin: 0 auto 300px;
  margin-top: 5%;
  border-radius: 30px;
  padding: 20px;
  padding-bottom: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-fundo-cantor {
  background-color: #f2efe5;
  width: 490px;
  margin: 0 auto 300px;
  margin-top: 5%;
  border-radius: 30px;
  justify-content: center;
  padding: 20px;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: auto;
  font-size: 56px;
  text-align: center;
  font-weight: 1000;
  opacity: 90%;
  margin-top: 6%;
}

.info {
  width: 420px;
  height: 200px;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/* NOME */
.info-nome {
  width: auto;
  height: 72px;
}

.info-nome-title {
  width: auto;
  height: 32px;
  top: 50%;
  left: -25%;
  text-align: center;
  font-size: 22px;
  font-weight: 560;
}

.info-nome-img {
  background-size: cover;
  /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: left center;
  /* Cola a imagem à esquerda */
  width: 25px;
  height: 24px;
  margin-left: 8px;
  opacity: 50%;
}

.info-label-nome {
  display: inline-block;
  /* Isso permite definir largura e altura */
  position: relative;
  text-align: center;
  /* Centralize o conteúdo do rótulo */
  margin-top: 2%;
  width: 350px;
}

.info-label-nome input {
  display: inline-block;
  /* Isso permite definir largura e altura */
  position: relative;
  left: 3%;
  height: 32px;
  width: 350px;
  border: none;
  text-align: center;
  /* Centralize o conteúdo do rótulo */
  background-color: #f2efe5;
  top: -5px;
}

.info-label-nome input::placeholder {
  color: black;
  opacity: 20%;
  font-size: 22px;
  font-weight: 200;
}

hr {
  width: 100%;
  /* Ajusta a largura para preencher toda a largura do contêiner pai */
  height: 0.1px;
  border: none;
  /* Remove a borda padrão */
  background-color: #000;
  /* Define a cor do traço */
  margin-top: -2px;
  /* Espaçamento superior entre o hr e o conteúdo acima */
  opacity: 0.5;
  /* Define a opacidade do traço */
}

/* TOM */

.info-tom {
  margin-top: 20px;
  width: auto;
  height: 72px;
}

.info-tom-title {
  width: auto;
  height: 32px;
  top: 50%;
  left: -25%;
  text-align: center;
  font-size: 22px;
  font-weight: 560;
}

.info-tom-img {
  background-size: cover;
  /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: left center;
  /* Cola a imagem à esquerda */
  width: 25px;
  height: 24px;
  margin-left: 8px;
  opacity: 50%;
}

.info-label-tom {
  display: inline-block;
  /* Isso permite definir largura e altura */
  position: relative;
  text-align: center;
  /* Centralize o conteúdo do rótulo */
  margin-top: 2%;
  width: 350px;
}

.info-label-tom input {
  display: inline-block;
  /* Isso permite definir largura e altura */
  position: relative;
  left: 3%;
  height: 32px;
  width: 350px;
  border: none;
  text-align: center;
  /* Centralize o conteúdo do rótulo */
  background-color: #f2efe5;
  top: -5px;
}

.info-label-tom input::placeholder {
  color: black;
  opacity: 20%;
  font-size: 22px;
  font-weight: 200;
}

hr {
  width: 100%;
  /* Ajusta a largura para preencher toda a largura do contêiner pai */
  height: 0.1px;
  border: none;
  /* Remove a borda padrão */
  background-color: #000;
  /* Define a cor do traço */
  margin-top: -2px;
  /* Espaçamento superior entre o hr e o conteúdo acima */
  opacity: 0.5;
  /* Define a opacidade do traço */
}

/* TOM */

.info-momento {
  margin-top: 20px;
  width: auto;
  height: 72px;
}

.info-momento-title {
  width: auto;
  height: 32px;
  top: 50%;
  left: -25%;
  text-align: center;
  font-size: 22px;
  font-weight: 560;
}

.info-momento-img {
  background-size: cover;
  /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: left center;
  /* Cola a imagem à esquerda */
  width: 25px;
  height: 24px;
  margin-left: 8px;
  opacity: 50%;
}

.info-label-momento {
  display: inline-block;
  /* Isso permite definir largura e altura */
  position: relative;
  text-align: center;
  /* Centralize o conteúdo do rótulo */
  margin-top: 2%;
  width: 350px;
}

.info-label-momento input {
  display: inline-block;
  /* Isso permite definir largura e altura */
  position: relative;
  left: 1.5%;
  height: 32px;
  width: 375px;
  border: none;
  text-align: center;
  /* Centralize o conteúdo do rótulo */
  background-color: #f2efe5;
  top: -5px;
}

.info-label-momento input::placeholder {
  color: black;
  opacity: 20%;
  font-size: 22px;
  font-weight: 200;
}

.info-label-data {
  display: inline-block;
  /* Isso permite definir largura e altura */
  position: relative;
  text-align: center;
  /* Centralize o conteúdo do rótulo */
  margin-top: 2%;
  width: 350px;
}

.info-label-data input {
  display: inline-block;
  /* Isso permite definir largura e altura */
  position: relative;
  left: 1.5%;
  height: 32px;
  width: 375px;
  border: none;
  text-align: center;
  /* Centralize o conteúdo do rótulo */
  background-color: #f2efe5;
  top: -5px;
}

.info-label-data input::placeholder {
  color: black;
  opacity: 20%;
  font-size: 18.4px;
  font-weight: 200;
}

input {
  font-size: 20px;
}

hr {
  width: 100%;
  /* Ajusta a largura para preencher toda a largura do contêiner pai */
  height: 0.1px;
  border: none;
  /* Remove a borda padrão */
  background-color: #000;
  /* Define a cor do traço */
  margin-top: -2px;
  /* Espaçamento superior entre o hr e o conteúdo acima */
  opacity: 0.5;
  /* Define a opacidade do traço */
}

.linha-divisoria {
  box-sizing: border-box;
  margin: 0 auto;
  width: 70%;
  /* Ajusta a largura para preencher toda a largura do contêiner pai */
  height: 1px;
  border-style: dashed;
  /* Define um estilo de linha pontilhada */
  border-color: aliceblue;
  background-color: #290202;
  /* Define a cor do traço */
  margin-top: 1rem;
  /* Espaçamento superior entre o hr e o conteúdo acima */
  opacity: 0.5;
  /* Define a opacidade do traço */
  margin-bottom: 5%;
  padding: 1px;
}

/* botoes */
.proxima-pagina {
  width: 200px;
  height: 50px;
  background-color: #A79277;
  color: #f2efe5;
  font-weight: bold;
  font-size: 22px;
  border-radius: 30px;

  margin-top: -4.5%;
}

.confirmar-envio {
  width: 180px;
  height: 50px;
  background-color: #A79277;
  color: #f2efe5;
  font-weight: bold;
  font-size: 22px;
  border-radius: 30px;
  /* Centralizar o botão horizontalmente */
  margin-top: 5%;
}

.excluir-musica {
  background-color: #d9534f;
  width: 110px;
  height: 38px;
  margin-right: 0;
  margin-top: 4%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  padding: 0.4rem 0.3rem;
  color: #f2efe5;
  border-radius: 30px;
  align-self: flex-end;
}

.adicionar-musica {
  background-color: #5cb85c;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  color: #f2efe5;
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 6rem;
}

button:hover {
  opacity: 0.8;
}

/* celular */
@media (max-width: 355px) {

  .container-fundo {
    width: 70%;
    padding-bottom: 10%;
  }

  .container-fundo-cantor {
    margin-top: 20%;
    width: 70%;
    padding-bottom: 10%;
  }

  .title {
    width: auto;
    font-size: 42px;
  }

  .linha-divisoria {
    margin-bottom: -1rem;
  }

  .info {
    width: auto;
    padding-bottom: 100px;
  }

  .info-data,
  .info-momento,
  .info-nome,
  .info-tom {
    margin-top: 40px;
  }

  .info-label-data,
  .info-label-momento,
  .info-label-nome,
  .info-label-tom {
    width: 90%;
  }

  .info-label-data input,
  .info-label-momento input,
  .info-label-nome input,
  .info-label-tom input {
    width: 100%;
  }

  .info-label-data input::placeholder {
    font-size: 11.3px;

  }

  .info-label-momento input::placeholder,
  .info-label-nome input::placeholder,
  .info-label-tom input::placeholder {
    font-size: 12.3px;
    text-align: center;
  }

  .proxima-pagina {
    margin-top: -4rem;
    height: 40px;
    width: 180px;
    font-size: 18px;
  }

  .adicionar-musica {
    margin-top: 5rem;
    margin-bottom: -1%;
    height: 40px;
    width: 150px;
    font-size: 16px;

  }

  .confirmar-envio {
    height: 40px;
    width: 150px;
    font-size: 16px;

  }

  .excluir-musica {
    margin-top: 22px;
    padding: 0.1rem, 0;
    width: 30%;
    font-size: 14px;
    align-self: flex-end;
  }

  .info-tom-img,
  .info-momento-img,
  .info-nome-img {
    margin-left: 0px;
    height: 17px;
    width: 18px;
  }
}

@media (min-width: 355px) and (max-width: 387px) {
  .container-fundo {
    width: 70%;
    padding-bottom: 10%;
  }

  .container-fundo-cantor {
    width: 70%;
    padding-bottom: 10%;
    margin-top: 20%;

  }

  .title {
    width: auto;
    font-size: 42px;

  }

  .linha-divisoria {
    margin-bottom: -1rem;
  }

  .info {
    width: auto;
    padding-bottom: 90px;
  }

  .info-data,
  .info-momento,
  .info-nome,
  .info-tom {
    margin-top: 40px;
  }

  .info-label-data,
  .info-label-momento,
  .info-label-nome,
  .info-label-tom {
    width: 230px;
  }

  .info-label-data input,
  .info-label-momento input,
  .info-label-nome input,
  .info-label-tom input {
    width: 225px;
  }

  .info-label-data input::placeholder,
  .info-label-momento input::placeholder,
  .info-label-nome input::placeholder,
  .info-label-tom input::placeholder {
    font-size: 12.3px;
    text-align: center;
  }

  .proxima-pagina {
    margin-top: -4rem;
    height: 40px;
    width: 180px;
    font-size: 18px;
  }

  .adicionar-musica {
    margin-top: 5rem;
    margin-bottom: -1%;
    height: 40px;
    width: 150px;
    font-size: 16px;

  }

  .confirmar-envio {
    height: 40px;
    width: 150px;
    font-size: 16px;

  }

  .excluir-musica {
    margin-top: 22px;
    padding: 0.1rem, 0;
    width: 30%;
    font-size: 14px;
    align-self: flex-end;
  }


  .info-tom-img,
  .info-momento-img,
  .info-nome-img {
    margin-left: 0px;
    height: 17px;
    width: 18px;
  }
}

@media (min-width: 388px) and (max-width: 450px) {
  .container-fundo {
    width: 80%;
    padding-bottom: 12%;
  }

  .container-fundo-cantor {
    width: 74%;
    padding-bottom: 8%;
    margin-top: 15%;

  }

  .title {
    width: auto;
    font-size: 45px;

  }

  .linha-divisoria {
    margin-bottom: -1rem;
  }

  .info {
    width: auto;
    padding-bottom: 90px;
  }

  .info-data,
  .info-momento,
  .info-nome,
  .info-tom {
    margin-top: 40px;
  }

  .info-label-data,
  .info-label-momento,
  .info-label-nome,
  .info-label-tom {
    width: 90%;

  }

  .info-label-data input {
    width: 100%;
  }

  .info-label-momento input,
  .info-label-nome input,
  .info-label-tom input {
    width: 100%;
    left: 1%;
  }

  .info-label-data input::placeholder {
    font-size: 13.9px;
  }

  .info-label-momento input::placeholder,
  .info-label-nome input::placeholder,
  .info-label-tom input::placeholder {
    font-size: 15.7px;
    text-align: center;
  }

  .adicionar-musica {
    margin-top: 5rem;
    margin-bottom: -1%;
    height: 45px;
    width: 200px;
  }

  .confirmar-envio {
    height: 45px;
    width: 200px;
  }

  .excluir-musica {
    margin-top: 25px;
    padding: 0.3rem, 0;
    width: 30%;
    font-size: 16px;
    align-self: flex-end;
  }

  .proxima-pagina {
    margin-top: -4rem;
    height: 40px;
    width: 180px;
    font-size: 18px;
  }

  .info-tom-img,
  .info-momento-img,
  .info-nome-img {
    margin-left: 0px;
  }
}

@media (min-width: 451px) and (max-width: 567px) {
  .container-fundo {
    width: 74%;
    padding-bottom: 8%;
  }

  .container-fundo-cantor {
    width: 74%;
    padding-bottom: 8%;
    margin-top: 15%;

  }

  .title {
    width: auto;
    font-size: 50px;

  }

  .linha-divisoria {
    margin-bottom: -0.7rem;
  }

  .info {
    width: 80%;
    padding-bottom: 19%;
  }

  .info-momento,
  .info-nome,
  .info-tom {
    margin-top: 40px;
  }

  .info-label-data,
  .info-label-momento,
  .info-label-nome,
  .info-label-tom {
    width: 80%;
  }

  .info-label-data input,
  .info-label-momento input,
  .info-label-nome input,
  .info-label-tom input {
    width: 100%;
  }

  .info-label-data input::placeholder {
    font-size: 16.8px;
  }

  .info-label-momento input::placeholder,
  .info-label-nome input::placeholder,
  .info-label-tom input::placeholder {
    font-size: 17.3px;
    text-align: center;
  }

  .proxima-pagina {
    margin-top: -3rem;
  }

  .adicionar-musica {
    margin-top: 7rem;
    margin-bottom: -1%;
    height: 45px;
    width: 200px;
  }

  .confirmar-envio {
    height: 45px;
    width: 200px;
  }

  .excluir-musica {
    margin-top: 25px;
    padding: 0.3rem, 0;
    width: 30%;
    font-size: 16px;
    align-self: flex-end;
    margin-right: -1rem;
  }
}

@media (min-width: 568px) and (max-width: 759px) {
  .container-fundo {
    width: 75%;
    padding-bottom: 5%;
    padding-top: 3%;
  }

  .container-fundo-cantor {
    margin-top: 10%;

    width: 75%;
    padding-bottom: 5%;
    padding-top: 3%;

  }

  .info {
    width: 400px;
  }

  .adicionar-musica {
    margin-top: 7rem;
    margin-bottom: -1%;
    height: 53px;
    width: 200px;
  }

  .confirmar-envio {
    height: 53px;
    width: 200px;
  }

  .linha-divisoria {
    margin-bottom: 2rem;
  }

}

/* tablet */
@media (min-width: 760px) and (max-width: 1024px) {
  .container-fundo {
    width: 33rem;
    padding-bottom: 5%;
    padding-top: 3%;
  }

  .container-fundo-cantor {
    width: 33rem;
    padding-bottom: 5%;
    padding-top: 3%;
    margin-top: 10%;

  }

  .info {
    width: 450px;
  }

  .adicionar-musica {
    margin-bottom: -1%;
    height: 53px;
    width: 200px;
  }

  .confirmar-envio {
    height: 53px;
    width: 200px;
  }

  .proxima-pagina {

    height: 53px;
    width: 200px;

  }
}