.container-fundo {
  background-color: #f2efe5;
  width: 490px;
  margin: 0 auto 300px;
  margin-top: 5%;
  border-radius: 30px;
  justify-content: center;
  padding: 20px;
  padding-bottom: 8%;
}
.container-fundo-cantor {
  background-color: #f2efe5;
  width: 490px;
  margin: 0 auto 300px;
  margin-top: 5%;
  border-radius: 30px;
  justify-content: center;
  padding: 20px;
  padding-bottom: 3%;
}
.title {
  width: auto;
  font-size: 56px;
  text-align: center;
  font-weight: 1000;
  opacity: 90%;
  margin-top: 6%;
}
.info {
  width: 420px;
  height: 200px;
  position: relative;
  margin-top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 30px;
  padding-bottom: 20px;
}

/* NOME */
.info-nome {
  width: auto;
  height: 72px;
}
.info-nome-title {
  width: auto;
  height: 32px;
  top: 50%;
  left: -25%;
  text-align: center;
  font-size: 22px;
  font-weight: 560;
}
.info-nome-img {
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: left center; /* Cola a imagem à esquerda */
  width: 25px;
  height: 24px;
  margin-left: 8px;
  opacity: 50%;
}

.info-label-nome {
  display: inline-block; /* Isso permite definir largura e altura */
  position: relative;
  text-align: center; /* Centralize o conteúdo do rótulo */
  margin-top: 2%;
  width: 350px;
}
.info-label-nome input {
  display: inline-block; /* Isso permite definir largura e altura */
  position: relative;
  left: 3%;
  height: 32px;
  width: 350px;
  border: none;
  text-align: center; /* Centralize o conteúdo do rótulo */
  background-color: #f2efe5;
  top: -5px;
}
.info-label-nome input::placeholder {
  color: black;
  opacity: 20%;
  font-size: 22px;
  font-weight: 200;
}

hr {
  width: 100%; /* Ajusta a largura para preencher toda a largura do contêiner pai */
  height: 0.1px;
  border: none; /* Remove a borda padrão */
  background-color: #000; /* Define a cor do traço */
  margin-top: -2px; /* Espaçamento superior entre o hr e o conteúdo acima */
  opacity: 0.5; /* Define a opacidade do traço */
}

/* TOM */

.info-tom {
  margin-top: 20px;
  width: auto;
  height: 72px;
}
.info-tom-title {
  width: auto;
  height: 32px;
  top: 50%;
  left: -25%;
  text-align: center;
  font-size: 22px;
  font-weight: 560;
}
.info-tom-img {
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: left center; /* Cola a imagem à esquerda */
  width: 25px;
  height: 24px;
  margin-left: 8px;
  opacity: 50%;
}

.info-label-tom {
  display: inline-block; /* Isso permite definir largura e altura */
  position: relative;
  text-align: center; /* Centralize o conteúdo do rótulo */
  margin-top: 2%;
  width: 350px;
}
.info-label-tom input {
  display: inline-block; /* Isso permite definir largura e altura */
  position: relative;
  left: 3%;
  height: 32px;
  width: 350px;
  border: none;
  text-align: center; /* Centralize o conteúdo do rótulo */
  background-color: #f2efe5;
  top: -5px;
}
.info-label-tom input::placeholder {
  color: black;
  opacity: 20%;
  font-size: 22px;
  font-weight: 200;
}

hr {
  width: 100%; /* Ajusta a largura para preencher toda a largura do contêiner pai */
  height: 0.1px;
  border: none; /* Remove a borda padrão */
  background-color: #000; /* Define a cor do traço */
  margin-top: -2px; /* Espaçamento superior entre o hr e o conteúdo acima */
  opacity: 0.5; /* Define a opacidade do traço */
}

/* TOM */

.info-momento {
  margin-top: 20px;
  width: auto;
  height: 72px;
}
.info-momento-title {
  width: auto;
  height: 32px;
  top: 50%;
  left: -25%;
  text-align: center;
  font-size: 22px;
  font-weight: 560;
}
.info-momento-img {
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: left center; /* Cola a imagem à esquerda */
  width: 25px;
  height: 24px;
  margin-left: 8px;
  opacity: 50%;
}

.info-label-momento {
  display: inline-block; /* Isso permite definir largura e altura */
  position: relative;
  text-align: center; /* Centralize o conteúdo do rótulo */
  margin-top: 2%;
  width: 350px;
}
.info-label-momento input {
  display: inline-block; /* Isso permite definir largura e altura */
  position: relative;
  left: 1.5%;
  height: 32px;
  width: 375px;
  border: none;
  text-align: center; /* Centralize o conteúdo do rótulo */
  background-color: #f2efe5;
  top: -5px;
}
.info-label-momento input::placeholder {
  color: black;
  opacity: 20%;
  font-size: 22px;
  font-weight: 200;
}
.info-label-data {
  display: inline-block; /* Isso permite definir largura e altura */
  position: relative;
  text-align: center; /* Centralize o conteúdo do rótulo */
  margin-top: 2%;
  width: 350px;
}
.info-label-data input {
  display: inline-block; /* Isso permite definir largura e altura */
  position: relative;
  left: 1.5%;
  height: 32px;
  width: 375px;
  border: none;
  text-align: center; /* Centralize o conteúdo do rótulo */
  background-color: #f2efe5;
  top: -5px;
}
.info-label-data input::placeholder {
  color: black;
  opacity: 20%;
  font-size: 18.4px;
  font-weight: 200;
}
input{
  font-size: 20px;
}

hr {
  width: 100%; /* Ajusta a largura para preencher toda a largura do contêiner pai */
  height: 0.1px;
  border: none; /* Remove a borda padrão */
  background-color: #000; /* Define a cor do traço */
  margin-top: -2px; /* Espaçamento superior entre o hr e o conteúdo acima */
  opacity: 0.5; /* Define a opacidade do traço */
}

.linha-divisoria {
  margin: 0 auto;
  width: 70%; /* Ajusta a largura para preencher toda a largura do contêiner pai */
  height: 2px;
  border-style: dashed; /* Define um estilo de linha pontilhada */
  border-color: aliceblue;
  background-color: #290202; /* Define a cor do traço */
  margin-top: 20px; /* Espaçamento superior entre o hr e o conteúdo acima */
  opacity: 0.5; /* Define a opacidade do traço */
  display: flex;
  margin-bottom: 5%;
}

/* botoes */
.proxima-pagina {
  width: 180px;
  height: 50px;
  display: block;
  background-color: brown;
  color: #f2efe5;
  font-weight: bold;
  font-size: 22px;
  border-radius: 20px;
  position: absolute;
  left: 50%; /* Centralizar o botão horizontalmente */
  transform: translateX(-50%); /* Centralizar o botão horizontalmente */
  margin-top: -4.5%;
}
.confirmar-envio {
  width: 180px;
  height: 50px;
  display: block;
  background-color: brown;
  color: #f2efe5;
  font-weight: bold;
  font-size: 22px;
  border-radius: 20px;
  position: absolute;
  left: 50%; /* Centralizar o botão horizontalmente */
  transform: translateX(-50%); /* Centralizar o botão horizontalmente */
  margin-top: 4.5%;
}
.excluir-musica {
  background-color: #d9534f;
  margin-top: 15px;
  display: flex;
  margin-left: auto;
  width: 110px;
  height: 38px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: #f2efe5;
  border-radius: 20px;

}
.adicionar-musica {
  background-color: #5cb85c;
  margin-top: 20px;
  display: flex;
  width: 190px;
  height: 45px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: #f2efe5;
  margin: 0 auto;
  border-radius: 20px;
}

/* celular */
@media (max-width: 355px) {
  .container-fundo {
    width: 70%;
    padding-bottom: 20%;
  }
  .container-fundo-cantor {
    width: 70%;
    padding-bottom: 20%;
  }
  .title {
    width: auto;
  }
  .linha-divisoria{
    margin-top: 52%; /* Espaçamento superior entre o hr e o conteúdo acima */

  }
  .info {
    width: auto;
    padding-bottom: 100px;
  }
  .info-data,
  .info-momento,
  .info-nome,
  .info-tom {
    margin-top: 40px;
  }
  .info-label-data,
  .info-label-momento,
  .info-label-nome,
  .info-label-tom {
    width: 90%;
  }
  .info-label-data input,
  .info-label-momento input,
  .info-label-nome input,
  .info-label-tom input {
    width: 100%;
  }
  .info-label-data input::placeholder{
    font-size: 11.3px;

  }
  .info-label-momento input::placeholder,
  .info-label-nome input::placeholder,
  .info-label-tom input::placeholder {
    font-size: 12.3px;
    text-align: center;
  }
  .adicionar-musica{
    margin-bottom: 18%;
    height: 40px;
    width: 190px;
    margin-top: 22%;
    
  }
  .confirmar-envio{
    margin-top: 24%;
  }
  .excluir-musica{
    margin-top: 30px;
  }
  .info-tom-img,
  .info-momento-img,
  .info-nome-img{
    margin-left: 0px;
    height: 17px;
    width: 18px;
  }
}
@media (min-width: 355px) and (max-width: 387px) {
  .container-fundo {
    width: 70%;
    padding-bottom: 20%;
  }
  .container-fundo-cantor {
    width: 70%;
    padding-bottom: 20%;
  }
  .title {
    width: auto;
  }
  .linha-divisoria{
    margin-top: 52%; /* Espaçamento superior entre o hr e o conteúdo acima */

  }
  .info {
    width: auto;
    padding-bottom: 90px;
  }
  .info-data,
  .info-momento,
  .info-nome,
  .info-tom {
    margin-top: 40px;
  }
  .info-label-data,
  .info-label-momento,
  .info-label-nome,
  .info-label-tom {
    width: 230px;
  }
  .info-label-data input,
  .info-label-momento input,
  .info-label-nome input,
  .info-label-tom input {
    width: 225px;
  }
  .info-label-data input::placeholder,
  .info-label-momento input::placeholder,
  .info-label-nome input::placeholder,
  .info-label-tom input::placeholder {
    font-size: 12.3px;
    text-align: center;
  }
  .adicionar-musica{
    margin-bottom: 18%;
    height: 40px;
    width: 190px;
    margin-top: 22%;
    
  }
  .confirmar-envio{
    margin-top: 24%;
  }
  .excluir-musica{
    margin-top: 30px;
  }
  .info-tom-img,
  .info-momento-img,
  .info-nome-img{
    margin-left: 0px;
    height: 17px;
    width: 18px;
  }
}
@media (min-width: 388px) and (max-width: 450px) {
  .container-fundo {
    width: 74%;
    padding-bottom: 20%;
  }
  .container-fundo-cantor {
    width: 74%;
    padding-bottom: 0.1%;
  }
  .title {
    width: auto;
  }
  .linha-divisoria{
    margin-top: 52%; /* Espaçamento superior entre o hr e o conteúdo acima */

  }
  .info {
    width: auto;
    padding-bottom: 90px;
  }
  .info-data,
  .info-momento,
  .info-nome,
  .info-tom {
    margin-top: 40px;
  }
  .info-label-data,
  .info-label-momento,
  .info-label-nome,
  .info-label-tom {
    width: 90%;

  }
  .info-label-data input{
        width: 100%;
  }
  .info-label-momento input,
  .info-label-nome input,
  .info-label-tom input {
    width: 100%;
    left: 1%;
  }
  .info-label-data input::placeholder{
    font-size: 13.9px;
  }
  .info-label-momento input::placeholder,
  .info-label-nome input::placeholder,
  .info-label-tom input::placeholder {
    font-size: 15.7px;
    text-align: center;
  }
  .excluir-musica{
    margin-top: 15%;
  }
  .adicionar-musica{
    margin-top: 20%;
    margin-bottom: 22%;
    height: 43px;
    width: 190px;
    
  }
  .confirmar-envio{
    margin-top: 26%;
  }
  .proxima-pagina{
    margin-top: -25%;
  }
  .info-tom-img,
  .info-momento-img,
  .info-nome-img{
    margin-left: 0px;
  }
}
@media (min-width: 451px) and (max-width: 567px) {
  .container-fundo {
    width: 74%;
    padding-bottom: 20%;
  }
  .container-fundo-cantor {
    width: 74%;
    padding-bottom: 20%;
  }

.title {
  width: auto;
}
.linha-divisoria{
  margin-top: 52%; /* Espaçamento superior entre o hr e o conteúdo acima */

}
.info {
  width: auto;
  padding-bottom: 19%;
}
.info-momento,
.info-nome,
.info-tom {
  margin-top: 40px;
}
.info-label-data,
.info-label-momento,
.info-label-nome,
.info-label-tom {
  width: 90%;
}
.info-label-data input,
.info-label-momento input,
.info-label-nome input,
.info-label-tom input {
  width: 100%;
}
.info-label-data input::placeholder{
  font-size: 16.8px;
}
.info-label-momento input::placeholder,
.info-label-nome input::placeholder,
.info-label-tom input::placeholder {
  font-size: 17.3px;
  text-align: center;
}
.adicionar-musica{
  margin-bottom: 10%;
  height: 43px;
  width: 190px;
  
  
}
.confirmar-envio{
  margin-top: 55px;
}
.excluir-musica{
  margin-top: 30px;
}
}
/* tablet */
@media (min-width: 568px) and (max-width: 1024px) {
  .container-fundo {
    width: 74%;
    padding-bottom: 20%;
  }
  .container-fundo-cantor {
    width: 74%;
    padding-bottom: 20%;
  }
  
  .info {
    width: 450px;
  }
  .adicionar-musica{
    margin-bottom: 0%;
    height: 63px;
    width: 240px;
  }
  .confirmar-envio{
    margin-top: 14%;
    height: 63px;
    width: 240px;
  }
  .proxima-pagina{

      height: 63px;
      width: 240px;
    
  }
}
